extends /templates/base-flat

block page_nav
  include ../courses/teacher-dashboard-nav.jade

block content
  div= view.user.broadName()
  div= view.classroom.get('name')
  div= view.lastPlayedString
